<%= form_for @task do |f| %>

  <% if @task.persisted? %>
    <p>作成者:
      <%= @task.author.name %>
    </p>
  <% end %>

  <div class="field">
    <%= f.label :flow, "承認ルート:" %>
    <%= f.text_field :flow, class: "task-field" %>
  </div>
  
  <div class="field">
    <%= f.label :title, "タイトル:" %>
    <%= f.text_field :title, class: "task-field" %>
  </div>
  
  <div class="field">
    <%= f.label :content, "内容:" %>
    <%= f.text_area :content, rows:"10", class: "task-field" %>
  </div>
  
  
  <div class="field">
  <%= f.label :charge_user, "次の担当者:" %>
  <%= f.select :charge_user_id, @users.map{|user| [user.name, user.id]} %>
  </div>

<!-- ヘルパーかデコレータでやるべきなのか？ -->  
  <% if @task.persisted? %>
    <% if @task.author == @current_user %>
      <div class="actions">
        <%= f.submit Task::BUTTON_CONSERVE, class: "btn " %>
        <%= f.submit Task::BUTTON_APPLY , confirm: "申請しますか？", class: "btn " %>
        <%= f.submit Task::BUTTON_DELETE , confirm: "削除しますか？", class: "btn " %>
      </div>
    <% else %>
      <div class="actions">
        <%= f.submit Task::BUTTON_CONSERVE, class: "btn " %>
        <%= f.submit Task::BUTTON_APPROVE , confirm: "承認しますか？", class: "btn " %>
        <%= f.submit Task::BUTTON_COMPLETE , confirm: "完了しますか？", class: "btn " %>
        <%= f.submit Task::BUTTON_RETURN , confirm: "差戻ししますか？", class: "btn " %>
      </div>
    <% end %>
  <% else %>  
    <div class="actions">
      <%= f.submit Task::BUTTON_CONSERVE, class: "btn " %>
      <%= f.submit Task::BUTTON_APPLY , confirm: "申請しますか？", class: "btn " %>
    </div>  
  <% end %>
<% end %>