<div class="navbar-inner ">
  <a class="brand" href="/">Simple Workflow</a>
</div>


<div class="head-contents">
  <div align="right">
    <% if @current_user %>
      <%= @current_user.name %>でログイン中 | <%= link_to 'ログアウト', :session, method: :delete, :confirm => "ログアウトしますか？" %>
    <% end %>
  </div>
  
  <div> / 
    <%= link_to '担当文書一覧', :controller =>'tasks', :action =>"index", :scope => 'charging' %> / 
    <%= link_to '作成中書一覧', :controller =>'tasks', :action =>"index", :scope => 'creating' %> / 
    <%= link_to '関連文書一覧', :controller =>'tasks', :action =>"index", :scope => 'relation' %> / 
  
  </div>
</div>

